In [1]:
abc = [1,2,3,4,5]
print(type(abc),abc)

<class 'list'> [1, 2, 3, 4, 5]

In [2]:
for i in [25,36,8,53,24,56]:
    print(i)

25
36
8
53
24
56

In [3]:
spending = [25,36,8,53,24,56]
for s in spending:
    print(s)

25
36
8
53
24
56

In [7]:
for i in range(len(spending)):
    print(i+1,'월 지출은:',spending[i])

1 월 지출은: 25
2 월 지출은: 36
3 월 지출은: 8
4 월 지출은: 53
5 월 지출은: 24
6 월 지출은: 56

In [13]:
food = ['피자','치킨','떡볶이','스테이크','파스타']
print(food[len(food)-1])

파스타

In [14]:
food.append('감자칩')
print(food)

['피자', '치킨', '떡볶이', '스테이크', '파스타', '감자칩']

In [18]:
to_do = []
for i in range(5):
    to_do.append(input('해야 할 일 입력 >'))
print(to_do)

['집 가서', '밥ㅂ먹고', '빨래하고', '샤워하고', '잠ㄱ자기']

In [20]:
food = ['피자','치킨','떡볶이','스테이크','파스타']
food.remove('떡볶이')
print(food)
del food[-1]
print(food)

['피자', '치킨', '스테이크', '파스타']
['피자', '치킨', '스테이크']

In [24]:
food = ['피자','치킨','떡볶이','스테이크','파스타']
print(food[-2:])

['스테이크', '파스타']

In [30]:
a = '나는야 우주 최강'
print(a[4:6])
print(a[-5:-3])

우주
우주

In [33]:
date='2021-04-15'
print('연도',date[:4])
print('월',date[5:7])
print('일',date[-2:])

연도 2021
월 04
일 15

In [35]:
print(a.split()[0])

나는야

In [37]:
print(date.split('-')[2])

15

In [40]:
food = ['피자','치킨','떡볶이','스테이크','파스타']
food.sort(reverse=True)
print(food)

['피자', '파스타', '치킨', '스테이크', '떡볶이']

In [49]:
# 가장 큰 금액 2개
spending = [25,36,8,53,24,56]
spending.sort(reverse=True)
print(spending[0:2])

# 가장 작은 금액 2개
spending.sort(reverse=True)
print(spending[-2:])

print(max(spending))
print(min(spending))
print(sum(spending))
print(spending.index(24))
print(spending[4])

[56, 53]
[24, 8]
56
8
202
4
24

In [53]:
food = ['피자','치킨','스테이크','된장지깨']
search = input('좋아하는 음식은? ')
if search in food:
    print(search,'는', food.index(search)+1, '위 입니다.')
else:
    print('해당 음식은 없습니다.')

스테이크 는 3 위 입니다.

In [54]:
history = ['먹방', '강아지', '요리', '댄스']
if '강아지' in history:
    print('강아지 좋아하니 고양이 추천함.')
if '댄스' in history:
    print('댄스 좋아하니 음악 추천함')

강아지 좋아하니 고양이 추천함.
댄스 좋아하니 음악 추천함

In [55]:
history = []
for i in range(5):
    data = input('시청한 영상은? ')
    history.append(data)
print(history)
if '다이어트' in history:
    print('다이어트 좋아하니 헬스 추천')
if '뉴스' in history:
    print('뉴스 좋아하니 교양 추천')

['다이어트', '헬스', '요리', '예능', '교양']
다이어트 좋아하니 헬스 추천

In [77]:
import random
score = []
for i in range(25):
    score.append(random.randint(0,100))
print(score)

for s in score:
    if s >= 70:
        print(score.index(s)+1,'번',s)

for i in range(len(score)):
    if score[i] >=70:
        print(i+1,'번',score[i])

[22, 52, 83, 23, 42, 98, 5, 98, 28, 43, 54, 69, 90, 18, 37, 43, 21, 46, 93, 61, 87, 83, 89, 96, 46]
3 번 83
6 번 98
6 번 98
13 번 90
19 번 93
21 번 87
3 번 83
23 번 89
24 번 96
3 번 83
6 번 98
8 번 98
13 번 90
19 번 93
21 번 87
22 번 83
23 번 89
24 번 96

In [79]:
line2 = ['성수', '뚝섬', '한양대', '왕십리', '상왕십리', '신당', '동대문역사문화공원','을지로4가', '을지로3가', '을지로입구', '시청', '충정로', '아현', '이대', '신촌', '홍대입구', '합정', '당산', '영등포구청', '문래', '신도림', '대림', '구로디지털단지', '신대방', '신림', '봉천', '서울대입구', '낙성대', '사당', '방배', '서초', '교대', '강남', '역삼', '선릉', '삼성', '종합운동장', '잠실새내', '잠실', '잠실나루', '강변', '구의', '건대입구']
print(len(line2))
for i in range(10):
    print(i+1, '/ 10' )
    ans = input('역 이름 입력 >')
    if ans not in line2:
        print('실패')
        break

43
1 / 10
2 / 10
3 / 10
실패

In [1]:
card = [['2020/03/04', '주식회사 카카오페이', 1000],
        ['2020/03/03', '네이버페이', 51100],
        ['2020/03/02', '스타벅스코리아', 10000],
        ['2020/03/01', '11번가', 27500],
        ['2020/02/26', '주식회사 카카오페이', 32500],
        ['2020/02/26', '주식회사 카카오페이', 32500],
        ['2020/02/22', 'G마켓', 81500],
        ['2020/02/22', '네이버페이',131000]]

In [5]:
print(card[0][1])
print(card[3][1])

주식회사 카카오페이
11번가

In [7]:
print(card[-1][1], card[-1][2])

네이버페이 131000

In [8]:
olympic =[[1, '미국', 46, 37, 38, 121],
          [2, '영국', 27, 23, 17, 67],
          [3, '중국', 26, 18, 26, 70],
          [4, '러시아', 19, 18, 19, 55],
          [5, '독일', 17, 10, 15, 42],
          [6, '일본', 12, 8, 21, 41],
          [7, '프랑스', 10, 18, 14, 42],
          [8, '대한민국', 9, 3, 9, 21]]

In [12]:
# 미국 금은동 메달 개수
print(olympic[0][1],'의 메달 개수:',olympic[0][2:5])

미국 의 메달 개수: [46, 37, 38]

In [15]:
print(olympic[:4])

[[1, '미국', 46, 37, 38, 121], [2, '영국', 27, 23, 17, 67], [3, '중국', 26, 18, 26, 70], [4, '러시아', 19, 18, 19, 55]]

In [17]:
for row in olympic:
    print(row[:2])

[1, '미국']
[2, '영국']
[3, '중국']
[4, '러시아']
[5, '독일']
[6, '일본']
[7, '프랑스']
[8, '대한민국']

In [18]:
print('금메달보다 은메달이 더 많은 나라')
for row in olympic:
    if row[2] < row[3]:
        print(row[1])

금메달보다 은메달이 더 많은 나라
프랑스

In [19]:
# 이번에는 1위부터 8위까지 모든 국가가 획득한 금메달 개수의 합을 구해 봅시다.
total_medals = 0
for row in olympic:
    total_medals += row[2]
print(total_medals)

166

In [22]:
# 나라별 총 메달 개수 중 금메달이 차지하는 비율이 40%가 넘는 나라
rate=[]
for row in olympic:
    if row[2]/row[-1]*100 > 40:
        rate.append(row[1])
print(rate)

['영국', '독일', '대한민국']

In [30]:
import random 
book_name = ['역사탐험대', '파이썬', '학습법', '영단어', '여행에세이', '삼국지'] 
book_price = []

for row in book_name:
    book_price.append(random.randint(15000,25000))

print(book_name, book_price)
print('가장비싼가격:',max(book_price))
print('가장비싼책:',book_name[book_price.index(max(book_price))])

['역사탐험대', '파이썬', '학습법', '영단어', '여행에세이', '삼국지'] [19952, 19378, 15082, 15742, 19225, 21815]
가장비싼가격: 21815
가장비싼책: 삼국지

In [46]:
ranking = [[1, '라이언', 956412, 564553], 
           [2, '니니즈', 861832, 927175], 
           [3, '어피치', 796354, 593175], 
           [4, '프로도', 534840, 864326], 
           [5, '네오', 387896, 648367]]

#1) 참가자의 순위-이름을 쌍으로 한 번에 출력하는 코드를 작성하세요.
for row in ranking:
    print(row[0],'-',row[1])
print()

#2) 이번 주 득표수가 50만 표가 넘는 참가자의 이름과 이번 주 득표수를 같이 출력하세요.
for row in ranking:
    if row[2] > 500000:
        print(row[1],row[2])
print()

#3) 지난주보다 득표수가 떨어진 참가자가 누구인지 득표수가 얼마나 떨어졌는지를 출력하세요.
for row in ranking:
    if (row[3] - row[2]) > 0:
        print(row[1], row[3] - row[2])
print()
#4) 지난주와 이번 주 득표수 중 한 번이라도 80만 표를 넘은 참가자를 출력하세요.
for row in ranking:
    if row[2] > 800000 or row[3] > 800000:
        print(row[1])

1 - 라이언
2 - 니니즈
3 - 어피치
4 - 프로도
5 - 네오

라이언 956412
니니즈 861832
어피치 796354
프로도 534840

니니즈 65343
프로도 329486
네오 260471

라이언
니니즈
프로도